<div>
  <a routerLink="/"><img src="../../../assets/logo_medium.png"></a>
</div>
<div>
  <p-card>
    <div class="ui-fluid">
      <p-messages key="error" [closable]="false"></p-messages>
      <div class="p-field">
        <label for="user-name">User name</label>
        <input [(ngModel)]="createUserDto.userName" id="user-name" type="text" pInputText>
      </div>
      <div class="p-field">
        <label for="name">Name</label>
        <input [(ngModel)]="createUserDto.name" id="name" type="text" pInputText>
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input [(ngModel)]="createUserDto.email" id="email" type="text" pInputText>
      </div>
      <div class="p-field">
        <label for="password">Password</label>
        <input [(ngModel)]="createUserDto.password" id="password" pPassword type="password">
      </div>
      <div class="p-field">
        <label for="password-confirmation">Password confirmation</label>
        <input [(ngModel)]="createUserDto.passwordConfirmation" id="password-confirmation" pPassword type="password">
      </div>
      <p-button label="Register" (click)="register()"></p-button>
    </div>
  </p-card>
</div>
<div>
  <p-card>Already registered? <a routerLink="/user/login">Login</a></p-card>
</div>
